{% load i18n %}
{% load staticfiles %}
{% load compress %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Swipe - {% block page_title %}Page{% endblock %}</title>
    {% compress css %}
        <link rel="stylesheet" type="text/x-scss" href="{% static 'scss/www/main.scss' %}" />
    {% endcompress %}
    {% compress js %}
        <script type="text/javascript" src="{% static 'bower_components/domchanger/domchanger.js' %}"></script>
        <script type="text/javascript" src="{% static 'bower_components/axios/dist/axios.js' %}"></script>
        <script type="text/javascript">
            /**
             * @type { {
             *   local: Object|Array,
             *   global: Object|Array
             * }}
             */
        window.swipe = {
        {% if swipe_local_vars %}local: {{ swipe_local_vars }},{% endif %}
            global: {{ SWIPE_JS_GLOBAL_VARS }}
        };
        </script>
        <script type="module" src="{% static 'js/main.js' %}"></script>
    {% endcompress %}
</head>
<body class="container horizontal">
<div class="content-container horizontal grow limit-width">
    {% include 'partials/sidebar.html' %}
    <div class="container content vertical grow">
        <div class="top-bar">
            <div class="top-bar-left">
                {% if request.user.is_authenticated %}Active user: {{ request.user }}{% endif %}
            </div>
            <div class="top-bar-title">
                Swipe - Title
            </div>
            <div class="top-bar-right">
            {% block back %}
                <a href="javascript:history.go(-1);">Back</a>
            {% endblock back %}
            </div>
        </div>
        <div class="grow container horizontal">
            {% block module_content %}
                <div class="small-6 columns">
                    <div class="card">
                        {% trans 'This page intentionally left almost blank.' %}
                    </div>
                    <div class="card">
                        <div class="tree-list assortment" article-tree="first" data-api-endpoint="dummy" data-title="First Articletree on the Page"></div>
                    </div>
                </div>
                <div class="small-6 columns">
                    <div class="card">
                        <div class="tree-list assortment"
                             article-tree="second"
                             data-api-endpoint="dummy"
                             data-search="netwerk"
                             data-in-store="true"
                             data-title="[api-endpoint=dummy, search=network, in-store=true]">
                        </div>
                    </div>
                </div>
            {% endblock module_content %}
        </div>
    </div>
</div>
</body>
</html>