{% load i18n %}
{% load staticfiles %}
{% load compress %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Swipe - {% block page_title %}Page{% endblock %}</title>
    <script src="{% static 'js/swipe.min.js' %}"></script>
    {% compress css %}
        <link rel="stylesheet" type="text/x-scss" href="{% static 'scss/main.scss' %}">
    {% endcompress %}
    {% compress js %}
        <link type="module" src="{% static 'www/../static/js/www/main.js' %}">
    {% endcompress %}
</head>
<body class="container horizontal">
<div class="container horizontal grow">
    {% include 'partials/sidebar.html' %}
    <div class="container vertical grow">
        <div class="top-bar">
            <div class="top-bar-left">
                {% if request.user.is_authenticated %}Active user: {{ request.user }}{% endif %}
            </div>
            <div class="top-bar-title">
                Swipe - Title
            </div>
            <div class="top-bar-right">
            {% block back %}
                <a href="javascript:history.go(-1);">Back</a>
            {% endblock back %}
            </div>
        </div>
        <div class="grow container horizontal">
            {% block module_content %}
                <div class="small-6 columns">
                    <div class="card">
                        {% trans 'This page intentionally left almost blank.' %}
                    </div>
                </div>
            {% endblock module_content %}
        </div>
    </div>
</div>
</body>
</html>