{% extends 'pdf/base/swipe_content.html' %}

{% load pdf.swipe_invoices %}

{% block css %}
<style type="text/css">
    .receipt_table {
        border: none;
        width: 100%;
    }

    .align-left {
        text-align: left;
    }
    
    .align-right {
        text-align: right;
    }

    .receipt_table td, .receipt_table th {
        padding: 0.5em;
    }

    .receipt_table thead tr {
        background-color: rgba(0, 0, 0, 0.7);
        color: rgba(255, 255, 255, 1);
    }

    .receipt_table tr.spacer td {
        padding: 0;
    }

    .receipt_table hr {
        border: none;
        border-bottom: 1px solid rgba(0, 0, 0, 0.7);
    }

    .receipt_table tbody tr.striped:nth-child(even) {
        background-color: rgba(0, 0, 0, 0.1);
    }

    .receipt_table .total td {
        padding: 0.25em;
        font-weight: bold;
    }

    .receipt_table .total td.memo {
        font-weight: normal;
        vertical-align: top;
        height: 100%;
    }

    .receipt_data, .totals-group {
        width: 100%;
        text-align: right;
        display: block;
    }

    .receipt_data {
        margin-bottom: 2em;
    }

    .totals-group{
        margin-top: 2em;
    }

    .customer_data {
        width: 475px;
        display: inline-block;
        vertical-align: top;
        text-align: left;
        float: left;
    }
    .customer_data table, .store_data table{
        width: 100%;
    }

    .store_data {
        width: 400px;
        display: inline-block;
        vertical-align: top;
        text-align: left;
    }
    .store_data dl {
        margin: 0;
    }
    .store_data dd, .store_data dt {
        display: inline-block;
    }
    .store_data dt {
        clear: both;
        float: left;
        font-weight: bold;
    }
    .store_data dd {
        float: right;
    }

    .invoice_info {
        width: 100%;
        margin-bottom: 1em;
    }

    .invoice_info th {
        text-align: left;
    }

    .memo-container {
        width: 550px;
        display: inline-block;
        vertical-align: top;
        text-align: left;
        float: left;
    }

    .totals-container {
        width: 300px;
        display: inline-block;
        vertical-align: top;
    }

    .totals-container table {
        float: right;
    }

    .memo-container .memo dl {
        margin: 0;
    }

    .memo-container .memo dt {
        font-weight: bold;
    }

    .memo-container .memo dd {
        margin: 0;
    }

    .totals-container table {
        width: 300px;
    }

    .totals-container .grand-total {
        font-size: 16pt;
        font-weight: bold;
    }

    .invoice_text {
        text-align: center;
        font-weight: bold;
    }

    /* Do not break the part below the spacer over pages */
    .totals-group, div.memo {
        page-break-inside: avoid !important;
    }

</style>
{% endblock %}

{% block pdf_content %}
    <div class="receipt_data">
        <div class="customer_data">
            <table>
                <tr><th>Aan:</th></tr>
                <tr><td>{{ object.customer_name }}</td></tr>
                <tr><td>{{ object.customer_address }}</td></tr>
                <tr><td>{{ object.customer_zipcode }} {{ object.customer_city }}</td></tr>
            </table>
        </div>
        <div class="store_data">
            {% if object.is_invoice %}
            <table>
                <tr>
                    <th>Stichting IAPC</th>
                    <td></td>
                </tr>
                <tr>
                    <td>Zilverling E105</td>
                    <td>Tel: 053 - 489 3927</td>
                </tr>
                <tr>
                    <td>7500 AE Enschede</td>
                    <td>bestuur@iapc.utwente.nl</td>
                </tr>
                <tr>
                    <td>The Netherlands</td>
                    <td>www.iapc.utwente.nl</td>
                </tr>
            </table>
            {% elif object.is_receipt %}
            <dl>
                <dt>Kassabonnummer:</dt><dd>{{ object.receipt_id }}</dd>
                <dt>Cooperant:</dt><dd>{{ object.cooperant }}</dd>
                <dt>Datum:</dt><dd>{{ object.date|date:"Y-m-d" }}</dd>
            </dl>
            {% else %}
            {% endif %}
        </div>
    </div>
    {% if object.is_invoice %}
    <table class="invoice_info">
        <thead>
            <tr>
                <th>Factuurdatum</th>
                <th>Betaaltermijn</th>
                <th>Afnamedatum</th>
                <th>Factuurnummer</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{% now "Y-m-d" %}</td>
                <td>30 Dagen</td>
                <td>{{ object.date|date:"Y-m-d" }}</td>
                <td>{{ object|invoicenr }}</td>
            </tr>
        </tbody>
    </table>
    {% endif %}
    <table class="receipt_table">
        <thead>
            <tr>
                <th>Aantal</th>
                <th>Artikel</th>
                <th>Stuksprijs</th>
                <th>BTW (%)</th>
                <th>Totaal</th>
            </tr>
        </thead>
        <tbody>
            {% for line in object.lines %}
            <tr class="striped">
                <td class="align-right">{{ line.amount }}</td>
                <td>{{ line.article }}</td>
                <td class="align-right">€ {{ line.piece_price|floatformat:2 }}</td>
                <td class="align-right">{{ line.vat|floatformat:1 }} %</td>
                <td class="align-right">€ {{ line.total_price|floatformat:2 }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="totals-group">
        <div class="memo-container">
            <div class="memo">
                {% if object.memo %}
                    <dl>
                        <dt>Memo:</dt>
                        <dd>{{ object.memo }}</dd>
                    </dl>
                {% endif %}
            </div>
        </div>
        <div class="totals-container">
            <table>
                <tr class="total">
                    <td class="align-left">Totale prijs excl. BTW</td>
                    <td class="align-right">€ {{ object.totals.excl_vat|floatformat:2 }}</td>
                </tr>
                <tr class="total">
                    <td class="align-left">Totale BTW</td>
                    <td class="align-right">€ {{ object.totals.vat|floatformat:2 }}</td>
                </tr>
                <tr class="total grand-total">
                    <td class="align-left">Totale prijs</td>
                    <td class="align-right">€ {{ object.totals.total|floatformat:2 }}</td>
                </tr>
            </table>
        </div>
    </div>
    {% if object.is_invoice %}
    <div class="invoice_text">
        <p>U dient deze betaling binnen 30 dagen na bovengenoemde factuurdatum te voldoen.<br/>Gelieve bij uw overboeking het factuurnummer te vermelden.</p>
    </div>
    {% endif %}
{% endblock %}
