{
	"presets": [
		["env", {
			"debug": true,
			"modules": false,
			"targets": {
				"browsers": [
					"last 2 ff versions",
					"Firefox ESR",
					"last 2 chrome versions",
					"last 2 edge versions"
				]
			}
		}],
		"stage-0",
		"react"
	]
}
