{% extends 'money/money_base.html' %}

{% load i18n %}

{% block page_title%}{% trans 'Currency list' %}{% endblock %}

{% block content %}
    {% url "currencydata_add" as currencydata_add %}
    <h2>{% trans 'List of currencies' %} <a class="small button success pull-right" href="{% url 'currencydata_add' %}">{% trans 'add' %}</a></h2>
    <ul>
    {% for currencydata in object_list %}
        <li class="row">
            <div class="small-12">
                <a href="{% url 'currencydata_detail' currencydata.pk %}">{{ currencydata }}</a>
                <a class="tiny button pull-right" href="{% url 'currencydata_edit' pk=currencydata.pk %}">{% trans 'Edit' %}</a>
            </div>
        </li>
    {% endfor %}
    </ul>
{% endblock %}