{% extends 'www/base.html' %}

{% load i18n %}

{% block page_title%}{% url 'currencydata_add' as add %}{% if request.path == add %}{% trans 'Add Currency' %}{% else %}{% blocktrans with name=object.name %}Edit {{ name }}{% endblocktrans %}{% endif %}{% endblock %}

{% block content %}
    {% url 'currencydata_add' as add %}
    <h2>{% if request.path == add %}{% trans 'Add Currency' %}{% else %}{% blocktrans with name=object.name %}Edit {{ name }}{% endblocktrans %}{% endif %}</h2>

    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="{% trans 'Create Currency' %}" />
    </form>
{% endblock %}