@import './settings';
@import './product';
@import './tree';
@import './branch';

@mixin swipe-assortment-description {
  padding-left: $tree-indent;
  padding-top: $tree-indent / 2;
  padding-bottom: $tree-indent / 2;
  margin: 0;
  box-sizing: border-box;
  border-bottom: 1px solid $tree-line-color;
}

@mixin swipe-assortment() {
  .assortment {

    @include swipe-tree-closing('opening-mechanism', 'tree-list');

    .product {
      @include swipe-product;
    }

    .product-description {
      @include swipe-product-description;
    }

    .branch-description {
      @include swipe-branch-description;
    }

    .assortment-description {
      @include swipe-assortment-description;
    }

    .tree-list {
      @include swipe-tree('tree-list');
    }
  }
}