@import '../../../../www/static/scss/www/util/util';
@import 'scss/assortment/settings';

@mixin swipe-product {
  padding: 0;
}

@mixin swipe-product-description() {
  height: $tree-entry-height;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  %flex {
    height: $tree-entry-height - $tree-base-margin;
    box-sizing: border-box;
    line-height: $tree-entry-height - ($tree-base-margin * 2);
    margin: $tree-base-margin / 2;
    padding: $tree-base-margin / 2;
  }

  %label {
    background-color: $medium-gray;
    border: 1px solid $dark-gray;
    border-radius: 2px;
    flex-grow: 0;
    user-select: none;
  }

  .name {
    @extend %flex;
    display: block;

    flex-grow: 0;
    flex-shrink: 1;

    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-left: $tree-entry-height;

    max-width: calc(100% - #{$tree-entry-height});
    min-width: 0;
  }

  .price {
    @extend %flex;
    @extend %label;

    flex-grow: 0;
  }

  .spacer {
    @extend %flex;

    align-self: flex-end;
    height: ($tree-entry-height / 2) - 2px;

    flex-grow: 1;
    border-top: 1px dashed $tree-line-color;
    margin: {
      left: 0;
      right: 0;
    }
    padding: {
      left: 0;
      right: 0;
    }
  }

  .amount {
    @extend %label;
    @extend %flex;

    flex-grow: 0;

    @if $use-stock-colors {
      @each $code, $bgcolor in $stock-bgcolor {
        &.#{$code} {
          background-color: $bgcolor;
        }
      }
    }
  }
}
