$tree-base-margin: 4px !default;
$tree-indent: 15px !default;

$tree-entry-height: 28px !default;

$tree-line-color: $dark-gray !default;
$tree-background-color: $white !default;

$use-stock-colors: true !default;

$stock-bgcolor: (
  none: map_get($foundation-palette, secondary),
  low: map_get($foundation-palette, alert),
  medium: map_get($foundation-palette, warning),
  high: map_get($foundation-palette, success),
) !default;