@mixin container($direction) {
  display: flex;
  flex-direction: $direction;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;

  & > * {
    flex-grow: 0;
    flex-shrink: 0;
  }

  & > .grow {
    flex-grow: 1;
  }

  & > .shrink {
    flex-shrink: 1;
  }

  &.growing > * {
    flex-grow: 1;
  }

  &.shrinking > * {
    flex-shrink: 1;
  }
}

@mixin swipe-layout {
  body {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: row;
    align-items: stretch;

    background: #e2e2e2 !important;
  }

  #page-container {
    overflow: auto;
    flex-grow: 100;
  }

  .page-content-container {
    overflow-x: hidden;
    overflow-y: auto;
  }

  .container {
    &.horizontal {
      @include container(row);
    }

    &.vertical {
      @include container(column);
    }
  }


  .top-bar, .top-bar ul {
  	background: #fff !important;
  }

}
