{% extends 'register/register_base.html' %}
{% load i18n %}

{% block content %}
    <h2>
        {% blocktrans with name=object.name %}{{ name }}{% endblocktrans %}
    </h2>
    <div class="row">
        <div class="small-3"><b>{% trans 'Name' %}</b></div>
        <div class="small-9">{{ object.name }}</div>
    </div>
    <div class="row">
        <div class="small-3"><b>{% trans 'Registers using this payment type' %}</b></div>
        <div class="small-9">
            <ul>
            {% for reg in object.register_set.all %}
                <li class="row">
                    <a href="{% url 'register_detail' pk=reg.pk %}">{{ reg.name }}</a>
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}