{% extends 'register/register_base.html' %}
{% load i18n %}

{% block content %}
    <h2>
        {% blocktrans with name=object.name %}{{ name }}{% endblocktrans %}
        <a class="button success pull-right" href="{% url 'register_edit' pk=object.pk %}">{% trans 'Edit' %}</a>
    </h2>

    <div class="row">
        <div class="small-3"><b>{% trans 'Name' %}</b></div>
        <div class="small-9">{{ object.name }}</div>
    </div>
    <div class="row">
        <div class="small-3"><b>{% trans 'Currency' %}</b></div>
        <div class="small-9"><a href="{% url 'currencydata_detail' pk=object.currency.pk %}">{{ object.currency }}</a></div>
    </div>
    <div class="row">
        <div class="small-3"><b>{% trans 'Is a cash register' %}</b></div>
        <div class="small-9">{{ object.is_cash_register|yesno }}</div>
    </div>
    <div class="row">
        <div class="small-3"><b>{% trans 'Is active register' %}</b></div>
        <div class="small-9">{{ object.is_active|yesno}}</div>
    </div>
    <div class="row">
        <div class="small-3"><b>{% trans 'Payment type' %}</b></div>
        <div class="small-9"><a href="{% url 'paymenttype_detail' pk=object.payment_type.pk %}">{{ object.payment_type }}</a></div>
    </div>
    {% if object.is_cash_register %}
    <div class="row">
        <div class="small-3"><b>{% trans 'Denominations' %}</b></div>
        <div class="small-9">
            <ul>
            {% for denom_count in object.previous_denomination_count %}
                <li class="row">
                    <div class="small-4"><b>{{ denom_count.denomination }}</b></div>
                    <div class="small-8">{{ denom_count.amount }}</div>
                </li>
            {% empty %}
                <li class="row">
                    {% trans "Empty" %}
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>
    {% endif %}
{% endblock %}