{% extends 'crm_base.html' %}

{% load i18n %}

{% block page_title%}{% trans 'CRM '%}{% endblock %}`s

{% block content %}
    <p>{% if user.is_authenticated %}Logged in as {{ user }}{% else %}You are not logged in.{% endif %}</p>
    <p><a href="{% url 'customer_list' %}">Customers</a></p>
    <p><a href="{% url 'persontype_list' %}">PersonTypes</a></p>
    <p><a href="{% url 'organisationtype_list' %}">OrganisationTypes</a></p>
    <p><a href="{% url 'persontypefield_list' %}">PersonTypeFields</a></p>
    <p><a href="{% url 'organisationtypefield_list' %}">OrganisationTypeFields</a></p>
    <p>{% if user.is_authenticated %}<a href="{% url 'logout' %}">Logout</a> - <a href="{% url 'switch_user' %}">Switch user</a>{% else %}<a href="{% url 'login' %}">Login</a>{% endif %}</p>
{% endblock %}