{% extends 'crm/crm_base.html' %}

{% load i18n %}

{% block page_title%}{% trans 'OrganisationType list' %}{% endblock %}

{% block content %}
    {% url "organisationtype_add" as organisationtype_add %}
    <h2>{% trans 'List of OrganisationTypes' %} (<a href="{{ organisationtype_add }}">{% trans 'add type' %}</a>)</h2>
    <ul>
    {% for organisationtype in object_list %}
        <li><a href="{% url 'organisationtype_detail' organisationtype.pk %}">{{ organisationtype }}</a></li>
    {% endfor %}
    </ul>
{% endblock %}