@import 'bower_components/foundation-sites/scss/util/util';
@import '../util/_util';

@mixin swipe-sidebar {
  // Size variables
  $sidebar-closed-width: 48px !default;
  $sidebar-open-width: 240px !default;
  $sidebar-icon-size: 40px !default;
  $sidebar-icon-font-size: 24px !default;

  // Color Variables
  $sidebar-primary-background-color: $black !default;
  $sidebar-primary-foreground-color: $white !default;
  $sidebar-secondary-foreground-color: $white !default;
  $sidebar-secondary-background-color: map-get($foundation-palette, dark_gray) !default;
  $sidebar-home-item-open-bg-color: #22bb5b !default;
  $sidebar-home-item-closed-bg-color: #ec5840 !default;

  .side-bar {
    box-shadow: 1px 0 2px rgba(0, 0, 0, 0.1);
    background-color: $sidebar-primary-background-color;
    padding: 0;
    z-index: 3000;
    width: $sidebar-closed-width;
    min-width: $sidebar-closed-width;
    min-height: 100%;
    overflow: hidden;
    display: inline;
    -webkit-transition: width 0.5s;
    transition: width 0.5s;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;

    position: absolute;
    top: 0;
    left: 0;

    .loaded {
        width: 45px;
    }

    .expanded {
        width: $sidebar-open-width;
    }

  }

  .sidebar-padding {
    width: 48px;
    float: left;
  }

  @media only screen and (min-width: 68.75em) {
      .side-bar:active {
          width: $sidebar-open-width;
          cursor: pointer
      }
  }

  @media only screen and (min-width: 68.75em) {
      .side-bar:hover {
          width: $sidebar-open-width;
          cursor: pointer
      }
  }

  .side-bar-nav li {
    width: $sidebar-open-width;
    background-color: $sidebar-primary-background-color;
    list-style-type: none;
    font-size: 15px;
    margin-left: -20px;

    a:link, a:visited {
      display: block;
      color: $sidebar-primary-foreground-color;
      padding: 10px;
      opacity: 0.75;
    }

    a:hover, a:active {
      display: block;
      background-color: $sidebar-secondary-background-color;
      color: $sidebar-secondary-foreground-color;
      opacity: 1;
    }

    .side-bar-icon {
      height: $sidebar-icon-size;
      font-size: $sidebar-icon-font-size;
      width: auto;
      float: left;
      opacity: 1;
      padding-right: 15px;
    }

    &.swipe {
      background-color: $sidebar-home-item-closed-bg-color;

      &.open {
        background-color: $sidebar-home-item-open-bg-color;
      }

      a:link, a:visited {
        opacity: 1;
      }

      a:hover {
        background-color: transparent;
      }

      a:active {
        background-color: transparent;
      }
    }
  }
}