{% extends 'crm/crm_base.html' %}

{% load i18n %}
{% load user_filters %}

{% block content %}
<div class="row">
    <div class="small-12 columns">
        <div class="card">
            <h2>{% trans 'Swipe User List' %}</h2>
            <table class="hover">
                <thead>
                    <tr>
                        <th>{% trans 'Username' %}</th>
                        <th>{% trans 'Linked customer' %}</th>
                        {% if request.user|can:"auth.change_user" %}
                            <th>{% trans 'Deactivate' %}</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for user in object_list %}
                        <tr>
                            <td>
                                {% if request.user|can:"auth.change_user" %}
                                    <a href="{% url 'user_profile' user.id %}" title="{% blocktrans with username=user.username %}Edit {{ username }}{% endblocktrans %}">
                                {% endif %}
                                {{ user.username }}
                                {% if request.user|can:"auth.change_user" %}</a>{% endif %}
                            </td>
                            <td>
                                {% if user.person %}
                                    {% if request.user|can:"auth.change_user" and request.user|can:"crm.link_user_to_person" %}
                                        <a href="{% url 'user_profile_link' user.pk %}" title="{% blocktrans with username=user.username %}Edit customer link for {{ username }}{% endblocktrans %}">
                                    {% endif %}
                                    {{ user.person }}
                                    {% if request.user|can:"auth.change_user" and request.user|can:"crm.link_user_to_person" %}</a>{% endif %}
                                {% else %}
                                    {% if request.user|can:"auth.change_user" and request.user|can:"crm.link_user_to_person" %}
                                        <a href="{% url 'user_profile_link' user.pk %}" title="{% blocktrans with username=user.username %}Link {{ username }} to a customer{% endblocktrans %}" class="link-user-button">
                                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                        </a>
                                    {% else %}
                                        -
                                    {% endif %}
                                {% endif %}
                            </td>
                            {% if request.user|can:"auth.change_user" %}
                            <td><a href="#" title="{% blocktrans with username=user.username %}Deactivate {{ username }}{% endblocktrans %}">
                                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                            </a></td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}