{% load i18n %}

<div class="side-bar">
    <ul class="side-bar-nav">
        <li class="swipe">
            <a href="{% url 'home' %}" title="{% trans 'Swipe' %}"><span class="glyphicon glyphicon-home side-bar-icon" aria-hidden="true"></span> {% trans 'Swipe' %}</a>
        </li>
        {% if request.user.is_authenticated %}
        <li class="sales">
            <a href="#" title="{% trans 'Sales' %}"><span class="glyphicon glyphicon-shopping-cart side-bar-icon" aria-hidden="true"></span> {% trans 'Sales' %}</a>
        </li>
        <li class="crm">
            <a href="{% url 'crm_index' %}" title="{% trans 'Customers' %}"><span class="glyphicon glyphicon-user side-bar-icon" aria-hidden="true"></span> {% trans 'Customers' %}</a>
        </li>

        <li class="register">
            <a href="{% url 'register_state' %}" title="{% trans 'Suppliers' %}"><span class="glyphicon glyphicon-inbox side-bar-icon" aria-hidden="true"></span> {% trans 'Register' %}</a>
        </li>
        <li class="suppliers">
            <a href="{% url 'supplier_list' %}" title="{% trans 'Suppliers' %}"><span class="glyphicon glyphicon-tags side-bar-icon" aria-hidden="true"></span> {% trans 'Suppliers' %}</a>
        </li>
        <li class="money">
            <a href="{% url 'money_index' %}" title="{% trans 'Money' %}"><span class="glyphicon glyphicon-eur side-bar-icon" aria-hidden="true"></span> {% trans 'Money' %}</a>
        </li>
        {% endif %}
    </ul>
</div>

<div class="sidebar-padding"></div>