{% load i18n %}

<div class="side-bar">
    <ul class="side-bar-nav">
        <li class="swipe">
            <a href="{% url 'home' %}"><span class="glyphicon glyphicon-home side-bar-icon" aria-hidden="true"></span> {% trans 'Swipe' %}</a>
        </li>
        {% if request.user.is_authenticated %}
        <li class="crm">
            <a href="{% url 'crm_index' %}"><span class="glyphicon glyphicon-user side-bar-icon" aria-hidden="true"></span> {% trans 'CRM' %}</a>
        </li>
        <li class="suppliers">
            <a href="{% url 'supplier_list' %}"><span class="glyphicon glyphicon-tags side-bar-icon" aria-hidden="true"></span> {% trans 'Suppliers' %}</a>
        </li>
        {% endif %}
    </ul>
</div>

<div class="sidebar-padding"></div>