{% load i18n %}
{% load gravatar %}

<div class="top-bar sticky" data-sticky data-options="marginTop:0;">
    <div class="top-bar-left">
        <h1>{% block page_topbar_title %}Page{% endblock %}</h1>
    </div>
    <div class="top-bar-right">
        {% if request.user.is_authenticated %}
        <ul class="dropdown menu align-right" data-dropdown-menu>
            <li class="is-dropdown-submenu-parent">
                <a class="user-link" href="#">{{ request.user.username }} <img title="{{ request.user.username }}" src="{% gravatar_url request.user.person.email 44 %}" /></a>
                <ul class="menu">
                    <li><a href="#">Profile</a></li>
                    <li><a href="{% url 'logout' %}">{% trans 'Logout' %}</a></li>
                </ul>
            </li>
        </ul>
        {% else %}
        <ul class="menu align-right">
            <li>
                <a class="user-link login" href="{% url 'login' %}">{% trans 'Login' %} <span class="glyphicon glyphicon-log-in top-bar-icon" aria-hidden="true"></span></a>
            </li>
        </ul>
        {% endif %}
    </div>
</div>

<div class="topbar-padding"></div>