{% load i18n %}
{% load gravatar %}
{% load user_filters %}

<div class="top-bar sticky" data-sticky data-options="marginTop:0;">
    <div class="top-bar-left">
        <h1>{% if page_title %}{{ page_title }}{% endif %}</h1>
    </div>
    <div class="top-bar-right">
        {% if request.user.is_authenticated %}
        <ul class="dropdown menu align-right" data-dropdown-menu>
            <li class="is-dropdown-submenu-parent">
                <a class="user-link" href="#">{{ request.user|display_name }} <img title="{{ request.user.username }}" src="{% gravatar_url request.user.email 44 %}" /></a>
                <ul class="menu">
                    <li><a href="{% url 'user_profile' %}">{% trans 'Profile' %}</a></li>
                    {% if request.user.person and request.user.person.can_manage_users %}
                        <li><a href="{% url 'user_management' %}">{% trans 'User Management' %}</a></li>
                    {% endif %}
                    <li><a href="{% url 'logout' %}">{% trans 'Logout' %}</a></li>
                </ul>
            </li>
        </ul>
        {% else %}
        <ul class="menu align-right">
            <li>
                <a class="user-link login" href="{% url 'login' %}">{% trans 'Login' %} <span class="glyphicon glyphicon-log-in top-bar-icon" aria-hidden="true"></span></a>
            </li>
        </ul>
        {% endif %}
    </div>
</div>

<div class="topbar-padding"></div>